.social-btn {
    width: 85px;
    border: 1px solid #900;
    padding: 8px;
    margin: 0;
    background: blue;
    font: 15px arial, sans-serif;
    text-align: left;
}

.social-btn-test {
    position: absolute;
    width: 78px;
    border: 1px solid #900;
    padding: 10px;
    margin: 0;
    background: gray;
}
